.franquicias{
	height : 100vh;
	background-image : url("../img/rhino.jpeg");
	background-attachment : fixed;
	background-position : center center;
	background-size : cover;
	background-repeat : no-repeat;

	.franquicias-cont{
		display: flex; 
		flex-direction: column;
		padding: 10px;

		&-superior{
			display: flex;
			flex-direction: row;
			margin-top: 60px;

			&_imagen{
				display : flex;
				align-items: center;
				justify-content: flex-end;
				width: 50%;
				padding: 25px;
			}

			&_imagen img{
				width: 75%;
			}

			&_info{
				width: 50%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: 60px;

				&_titulo{
					display: flex;
					flex-direction: row;
					margin-bottom: 20px;
				}

				&_titulo span{
					margin-right: 3vw;
					color: $Coloropcionesmenu;
					font-size: $tamañotitulofran;
				}

				&_texto{
					display:flex;
					justify-content: center;
					//align-items: center;
					color: $Coloropcionesmenu;
				}
			}
		}

		&-inferior{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 60px;

			&_titulo{
				display: flex;
				flex-direction: column;
				align-items: center;

				&_uno{
					color: $Coloropcionesmenu;
					font-size: 1.8vw;
					margin-bottom: 3px;//
				}

				&_dos{
					color: $Coloropcionesmenu;
					font-size: 0.7vw;
				}
			}

			&_franquicias{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-top: 30px;

				&_contimg{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 25px;
					border-top: 1px dotted white;
					border-bottom: 1px dotted white;
					border-right: 1px dotted white;
					transition : all 0.7s ease;
					width: 20%;//180px;

					&_ultimo{
						padding: 25px;
						border-top: 1px dotted white;
						border-bottom: 1px dotted white;
						border-right: 0px dotted white;
						transition : all 0.7s ease;
						width: 20%;//180px;
					}

					&_ultimo:hover{
						filter: brightness(0.30);
					}
				}

				&_contimg:hover{
					filter: brightness(0.30);
				}
			}
		}
	}
}

@media screen and (max-width: $tabletas){
	.franquicias{
		.franquicias-cont{
			display: flex; 
			flex-direction: column;
			padding: 10px;

			&-superior{
				display: flex;
				flex-direction: row;
				margin-top: 40px;//

				&_imagen{
					display : flex;
					align-items: center;
					justify-content: flex-end;
					width: 50%;
					padding: 10px;//
				}

				&_imagen img{
					width: 75%;
				}

				&_info{
					width: 50%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					padding: 30px;//

					&_titulo{
						display: flex;
						flex-direction: row;
						margin-bottom: 20px;
					}

					&_titulo span{
						margin-right: 3vw;
						color: $Coloropcionesmenu;
						font-size: $tamanotitulores;
					}

					&_texto{
						display:flex;
						justify-content: center;
						//align-items: center;
						color: $Coloropcionesmenu;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}
				}
			}

			&-inferior{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 10px;//

				&_titulo{
					display: flex;
					flex-direction: column;
					align-items: center;

					&_uno{
						color: $Coloropcionesmenu;
						font-size: 20px;//
					}

					&_dos{
						color: $Coloropcionesmenu;
						font-size: 8px;//
					}
				}

				&_franquicias{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 30px;

					&_contimg{
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 25px;
						border-top: 1px dotted white;
						border-bottom: 1px dotted white;
						border-right: 1px dotted white;
						transition : all 0.7s ease;
						width: 150px;//

						&_ultimo{
							padding: 25px;
							border-top: 1px dotted white;
							border-bottom: 1px dotted white;
							border-right: 0px dotted white;
							transition : all 0.7s ease;
							width: 150px;//
						}

						&_ultimo:hover{
							filter: brightness(0.30);
						}
					}

					&_contimg:hover{
						filter: brightness(0.30);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $premoviles){
	.franquicias{
		.franquicias-cont{
			display: flex; 
			flex-direction: column;
			padding: 10px;

			&-superior{
				display: flex;
				flex-direction: column;//
				margin-top: 15px;//

				&_imagen{
					display : flex;
					align-items: center;
					justify-content: center;//
					width: 100%;//
					padding: 10px;//
				}

				&_imagen img{
					width: 80%;//
				}

				&_info{
					width: 100%;//
					display: flex;
					justify-content: center;
					flex-direction: column;
					padding: 30px;//

					&_titulo{
						display: flex;
						flex-direction: row;
						justify-content: center;//
						margin-bottom: 20px;
					}

					&_titulo span{
						margin-right: 3vw;
						color: $Coloropcionesmenu;
						font-size: $tamanotitulores;
					}

					&_texto{
						display:flex;
						justify-content: center;
						color: $Coloropcionesmenu;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}
				}
			}

			&-inferior{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 10px;//

				&_titulo{
					display: flex;
					flex-direction: column;
					align-items: center;

					&_uno{
						color: $Coloropcionesmenu;
						font-size: 20px;//
					}

					&_dos{
						color: $Coloropcionesmenu;
						font-size: 8px;//
					}
				}

				&_franquicias{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 30px;

					&_contimg{
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 25px;
						border-top: 1px dotted white;
						border-bottom: 1px dotted white;
						border-right: 1px dotted white;
						transition : all 0.7s ease;
						width: 100px;//

						&_ultimo{
							padding: 25px;
							border-top: 1px dotted white;
							border-bottom: 1px dotted white;
							border-right: 0px dotted white;
							transition : all 0.7s ease;
							width: 100px;//
						}

						&_ultimo:hover{
							filter: brightness(0.30);
						}
					}

					&_contimg:hover{
						filter: brightness(0.30);
					}
				}
			}
		}
	}
}