.franquiciasfooter{
	//Imagen de fondo
	background-image : url("../img/fondogris.jpg");
	background-attachment : fixed;
	background-position : center center;
	background-size : cover;
	background-repeat : no-repeat;

	.franquiciasfooter-cont{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		margin-top: 85px;
		margin-bottom: 80px;

		&_element{
			display: flex;
			flex-direction: column;
			padding: 8px;
			width: 22%;//31%;

			&_superior{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;

				&_img{
					display: flex;
					flex-direction: column;
				}
			}

			&_inferior{
				display: flex;
				flex-direction: column;

				&_info{
					color: $Coloropcionesmenu;
					text-align: center;
					margin-bottom: 20px;
				}

				&_info p{
					font-size: $tamanotextofranquicia;
				}

				&_etiqueta{
					display: flex;
					flex-direction: column;
					align-items: center;

					&_nombre{
						color: $Colorprincipal;
						font-size: $tamanonombrefranquisia;
						margin-bottom: 8px;
						font-weight: 800;
					}

					&_puesto{
						color: $Coloropcionesmenu;
						font-size: $tamanopuestofranquisia;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tabletas){
	.franquiciasfooter{

		.franquiciasfooter-cont{

			&_element{
				display: flex;
				flex-direction: column;
				padding: 8px;
				width: 285px;//

				&_superior{
					&_img{
					}
				}

				&_inferior{

					&_info{
					}

					&_info p{
						font-size: $tamanotextofranrespon;//
					}

					&_etiqueta{

						&_nombre{
							color: $Colorprincipal;
							font-size: $tamanonombrefranquisiares;//
							margin-bottom: 8px;
							font-weight: 800;
						}

						&_puesto{
							color: $Coloropcionesmenu;
							font-size: $tamanopuestofranquisiares;//
						}
					}
				}
			}
		}
	}
}