.quienes{
	margin-top: 20px;

	&-cont{
		display: flex;
		flex-direction: column;
		margin-bottom : 30px;

		&-conocenos{
			display: flex;
			flex-direction: column;
			margin-top: 5px;
			border-top: 6px solid $Colorcontorno;
			border-right: 6px solid $Colorcontorno;
			border-bottom: 6px solid $Colorcontorno;
			//border-radius: 15px;
			border-radius: 0px 15px 15px 0px;


			&_titulo{
				display: flex;
				justify-content: flex-start;
				color: $Colorprincipal;
				margin-top: 70px;
				margin-left: 190px;
			}

			&_titulo span{
				font-size: 3.1vw;
			}

			&_contenido{
				display: flex;
				flex-direction: row;
				margin-top: 30px;
				margin-bottom: 60px;
				margin-left: 190px;

				&_texto{
					display:flex;
					justify-content: center;
					align-items: center;
					width: 80%;
				}

				&_imagen{
					display:flex;
					justify-content: center;
					align-items: center;
					width: 20%;
					margin: 50px;
				}

				&_imagen img{
					width: 95%;
				}
			}
		}

		&-donde{
			display :flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 38px;
			position: relative;
			width: 100%;

			&_video{
				width: 45%;
				position: absolute;
				top: 0;
				left: 40px;

				&_size{
					width: 100%;
					height: auto;
				}
			}

			&_estamos{
				display: flex;
				flex-direction: column;
				width: 57%;
				background-color: $Colorprincipal;
				margin-top: 40px;
				padding: 48px;
				border-radius: 10px;
				box-shadow: 8px 10px 8px #77695E;//#888888;

				&_titulo{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					color: white;
					//margin-left: 0px;
				}

				&_titulo span{
					font-size: 3.1vw;
				}

				&_texto{
					display: flex;
					justify-content: flex-start;
					color: white;
					margin-top: 25px;
					margin-left: 55px;
				}

			}
		}

		&-nuestro{
			display: flex;
			flex-direction: row;
			margin-top: 80px;

			&_info{
				display: flex;
				flex-direction: column;
				width: 60%;
				padding: 90px;

				&_titulo{
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					color: $Colorprincipal;
					margin-left: 150px;
					margin-top: 60px;

					&_sub{
						/*display: flex;
						justify-content: space-between;
						width: 60%;*/
						color: $Colorprincipal;
					}

					&_sub{
						font-size: 3.1vw;
					}
				}

				&_titulo span{
					font-size: 3.1vw;
					margin-bottom: 8px;
				}

				&_texto{
					margin-top: 70px;
					margin-left: 150px;
				}
			}

			&_galeria{
				display : flex;
				align-items: center;
				width: 40%;
				border-top: 6px solid $Colorcontorno;
				border-left: 6px solid $Colorcontorno;
				border-bottom: 6px solid $Colorcontorno;
				border-radius: 15px 0px 0px 15px;
			}
		}
	}
}

@media screen and (max-width: $tabletas){
	.quienes{
		&-cont{
			&-conocenos{
				&_titulo{
					display: flex;
					justify-content: flex-start;
					color: $Colorprincipal;
					margin-top: 70px;
					margin-left: 0px;
				}

				&_titulo span{
					font-size: $tamanotitulores;
				}

				&_contenido{
					display: flex;
					flex-direction: row;
					margin-top: 30px;
					margin-bottom: 60px;
					margin-left: 0px;

					&_texto{
						display:flex;
						justify-content: center;
						align-items: center;
						width: 80%;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}

					&_imagen{
						display:flex;
						justify-content: center;
						align-items: center;
						width: 20%;
						margin: 50px;
					}

					&_imagen img{
						width: 95%;
					}
				}
			}


			&-donde{
				display :flex;
				flex-direction: row;
				justify-content: flex-end;
				margin-top: 38px;
				position: relative;
				width: 100%;

				&_video{
					width: 45%;
					position: absolute;
					top: 0;
					left: 0px;

					&_size{
						width: 100%;
						height: auto;
					}
				}

				&_estamos{
					display: flex;
					flex-direction: column;
					width: 57%;
					background-color: $Colorprincipal;
					margin-top: 40px;
					padding: 48px;
					border-radius: 10px;
					box-shadow: 8px 10px 8px #77695E;//#888888;

					&_titulo{
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						color: white;
					}

					&_titulo span{
						font-size: $tamanotitulores;
					}

					&_texto{
						display: flex;
						justify-content: flex-start;
						color: white;
						margin-top: 25px;
						margin-left: 0px;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}

				}
			}

			&-nuestro{
				display: flex;
				flex-direction: row;
				margin-top: 80px;

				&_info{
					display: flex;
					flex-direction: column;
					width: 60%;
					padding: 60px;

					&_titulo{
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						color: $Colorprincipal;
						margin-left: 0px;
						margin-top: 60px;

						&_sub{
							/*display: flex;
							justify-content: space-between;
							width: 60%;*/
							color: $Colorprincipal;
						}

						&_sub{
							font-size: 3.1vw;
						}
					}

					&_titulo span{
						font-size: $tamanotitulores;
						margin-bottom: 8px;
					}

					&_texto{
						margin-top: 70px;
						margin-left: 0px;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}
				}

				&_galeria{
					display : flex;
					align-items: center;
					width: 40%;
					border-top: 6px solid $Colorcontorno;
					border-left: 6px solid $Colorcontorno;
					border-bottom: 6px solid $Colorcontorno;
					border-radius: 15px 0px 0px 15px;
				}
			}
		}
	}
}

@media screen and (max-width: $premoviles){
	.quienes{
		&-cont{
			&-conocenos{
				&_titulo{
					display: flex;
					justify-content: center;
				}

				&_contenido{
					display: flex;
					flex-direction: column;
					align-items: center;

					&_imagen{
						display:flex;
						justify-content: center;
						align-items: center;
						width: 40%;
						margin: 50px;
					}
				}
			}

			&-donde{
				display :flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 38px;
				position: relative;
				width: 100%;

				&_video{
					width: 100%;
					position: relative;
					top: 0;
					left: 0px;
				}

				&_estamos{
					display: flex;
					flex-direction: column;
					width: 100%;
					margin-top: 20px;
					padding: 20px;

					&_titulo{
						display: flex;
						flex-direction: column;
						align-items: center;
						//justify-content: space-between;
						color: white;
					}
				}
			}

			&-nuestro{
				display: flex;
				flex-direction: column;
				margin-top: 40px;

				&_info{
					display: flex;
					flex-direction: column;
					width: 100%;
					padding: 20px;

					&_titulo{
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						color: $Colorprincipal;
						margin-left: 0px;
						margin-top: 0px;

						&_sub{
							color: $Colorprincipal;
						}

						&_sub{
							font-size: 3.1vw;
						}
					}

					&_titulo span{
						font-size: $tamanotitulores;
						margin-bottom: 8px;
					}

					&_texto{
						margin-top: 40px;
						margin-left: 0px;
					}

					&_texto p{
						font-size: $tamanoparrafores;
					}
				}

				&_galeria{
					display : flex;
					align-items: center;
					width: 100%;
				}
			}
		}
	}
}