.testimonios{
	background-color: black; 

	.testimonios-cont{
		display: flex;
		flex-direction: column;
		margin-top: 30px; 

		&_slider{

		}

		&_titulo{
			text-align: center;
			color: $Colorprincipal;
			font-size: $tamañotitulosprin;
			margin-top: 35px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: $tabletas){
	.testimonios{ 

		.testimonios-cont{

			&_titulo{
				font-size: $tamanotitulores;
			}
		}
	}
}