$Colorprincipal: rgb(185,100,0);
$Colorprincipaldesv: rgb(201,132,47);
$Colorbgcapacitaciones: rgb(246,248,250);
$Colorfranquisia: rgb(42,42,42);
$Colorbgasesoria : rgb(246, 246, 246);
$Colorcontacto : rgb(255,247,231);
$Coloropcionesmenu: white;

$Colorcontorno: rgb(247, 191, 130);
$Colorprincipaldif: rgb(201, 132, 47);

//Colores submenu capacitaciones
$Colorsubtitulos: rgb(222,118,48);

//Colores menú
$Colormenusup: rgb(185,100,0);
$Blancohovermenu : rgb(208, 211, 212);//rgb(242, 243, 244);//Color de fondo evento hover opciones
$Colormenuresp   : rgba(185,100,0, .8);

//Color de letras
$Colorletras  : rgb(9,9,9);//Color de las letras default body
/*$Colortitulogris : rgb(98, 101, 103);
$Colortitulonegro : rgb(44, 62, 80);
$Colorletrastexto : rgb(66, 73, 73);*/