//Fuente de letras para página
$FontLetras   : 'PT Sans', sans-serif;

//Tamaño de las letras default html
$TamanoLetras : 20px;

// Estilos imagenes
$mx-width : 100%;

// Estilos de enlaces
$link--color : initial;

// Tamaños de los encabezados
$h1 : 3.5em;
$h2 : 3em;
$h3 : 2.5em;
$h4 : 2em;
$h5 : 1.5em;
$h6 : 1em;

// Estilos parrafos
$p--fz  : 1.3vw;//18px;
$p--lh  : 1.3em;

//Estilos parrafos responsive
$tamanoparrafores : 16px;

//Estilos titulos responsive
$tamanotitulores : 32px;

//Estilos opciones servicios
$serviciosopcion : 20px;
$serviciostitulo : 20px;

// Variables para los pesos de las fuentes
$light  : 300;
$normal : 400;
$bold   : 700;