//Fuente de letras para página
$FontLetras   : 'PT Sans', sans-serif;

//Tamaño de las letras default html
$TamanoLetras : 20px;

// Estilos imagenes
$mx-width : 100%;

// Estilos de enlaces
$link--color : initial;

// Tamaños de los encabezados
$h1 : 3.5em;
$h2 : 3em;
$h3 : 2.5em;
$h4 : 2em;
$h5 : 1.5em;
$h6 : 1em;

// Estilos parrafos
$p--fz  : 1.2vw;//1.3vw;//18px;
$p--lh  : 1.3em;

//Tamaños titulos quienes
$tamanotitulosquien: 2.8vw;

//Tamaños titulos
$tamañotitulosprin: 2.8vw;//3.1vw;
$tamañotitulofran : 3.1vw;//3.6vw;

//Estilos parrafos responsive
$tamanoparrafores : 16px;

//Estilos titulos responsive
$tamanotitulores : 32px;

//Estilos opciones servicios
$serviciosopcion : 20px;
$serviciostitulo : 20px;
$tamanosubtituloserv: 3.1vw;//

//Estilos seccion asesoria
$asesoriacontabla: 15px;
$asesoriaenctabla: 20px;

//Estilos franquicias footer
$tamanotextofranquicia: 1vw;
$tamanotextofranrespon: 13px;
$tamanonombrefranquisia: 1.2vw;
$tamanonombrefranquisiares: 15px;
$tamanopuestofranquisia: 0.9vw;
$tamanopuestofranquisiares: 11px;

//Estilos capacitaciones
$tamanotextocapa: 1vw;
$tamanotextocapares: 12px;
$tamanosubtitulocapa: 1.2vw;
$tamanosubtitulocapares: 14px;

//Estilos promociones registros
$tamanotituloprom: 1.8vw;
$tamanoinfoprom: 1.2vw;
$tamanorestituloprom: 24px;
$tamanoresinfoprom: 14px;


// Variables para los pesos de las fuentes
$light  : 300;
$normal : 400;
$bold   : 700;