.m-section{
	display : flex;
	justify-content : center;
}

.m-center{
	width : 95%;//1100px;
}

.fuente_tabla{
    font-family: 'PT Sans Narrow', sans-serif;
}

.m_lineBottom_blanco{
    border-bottom : 3px solid  $Coloropcionesmenu;
    display       : inline-block;
    width         : 90px;
    //padding       : 1.5rem 0 0;
 }

 .m_lineBottom_tabla{
 	border-bottom : 15px solid  $Colorprincipal;
    display       : inline-block;
    width         : 100%;
 }

.m_lineBottom_franquicia{
    border-bottom : 5px solid  $Colorprincipal;
    display       : inline-block;
    width         : 100%;
    margin-top    : 5px;
 }

 .m_lineBottom_capacitaciones{
    border-bottom : 2px solid  black;
    display       : inline-block;
    width         : 75px;
    margin-top    : 5px;
 }